/* Based on: https://dev.to/hankchizljaw/a-modern-css-reset-6p3 */
/* ----------------------- RESET ------------------ */
/**
 * Box sizing rules
 * https://developer.mozilla.org/es/docs/Web/CSS/box-sizing
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/**
 * rem - https://es.wikipedia.org/wiki/Em_(tipograf%C3%ADa)
 *
 * Por defecto el navegador tiene como tipografía base 16px, pero el usuario
 * puede modificarlo desde las preferencias de su navegador.
 * Una opción para configurar el tamaño de todo nuestro documento es utilizar
 * esta medida base como referencia para calcular nuestros valores en rems.
 *
 * El fórmula para calcular los rems es el valor en pixels dividido por el
 * tamaño de tipografía base (16px), por lo tanto, para obtener el valor en rems
 * para 48px:
 * 48 / 16 = 3
 *
 * por lo tanto:
 * h1 {
 *   font-size: 3rem;
 * }
 *
 * Para simplificar el cálculo, una práctica muy común es convertir el tamaño de
 * tipografía base a 10px, pero en su versión de porcentaje. Realizando una
 * regla de tres simple, tomando 16px como el 100%, el resultado nos da 62.5%
 *
 * Con esta operación, el cálculo de los valores de rem resultan más sencillos,
 * ya que nuestra tipografía base ahora es 10 y la división es más sencilla.
 * Tomamos de ejemplo el mismo caso de 48px:
 * 48 / 10 = 4.8
 *
 * y visualmente es mucho más fácil de ver el número en pixels original.
 */

/* ----------------------- GLOBAL ------------------ */

html {
  font-size: 62.5%; /* Tipografía base: 10px */
}

/**
 * Cargamos las familias tipográficas en nuestro CSS
 * Añadimos las familias "fallback", en caso que no cargue la familia "Work Sans"
 * buscará la siguiente, en este caso la "Helvetica", y así hasta llegar a la
 * última que es la "sans-serif" (o "serif") que será la por defecto del sistema.
 * Normalmente se suele utilizar una o varias safe fonts
 *
 * https://www.w3schools.com/cssref/css_websafe_fonts.asp
 */
body {
  font-family: 'Work Sans', Helvetica, Arial, sans-serif;
  font-size: 1.6rem; /* Tamaño de fuente: 16px */
  line-height: 1.3;
}

h1,
h2,
h3,
.secondary-font {
  font-family: 'Crimson Text', 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

h1 {
  font-size: 3.6rem; /* Tamaño de fuente: 36px */
  line-height: 1.1;
}

h2 {
  font-size: 3.2rem; /* Tamaño de fuente: 32px */
  line-height: 1.88;
}

a {
  color: #a956d0;
}

/* ----------------------- UTILITIES ------------------ */
/**
 * El wrapper o contenedor, nos permite reaprovechar un solo estilo para
 * varios elementos en nuestro HTML. Reducimos código y generamos un elemento
 * modular que podemos aprovechar en muchas páginas y secciones.
 */
.wrapper {
  margin: 0 auto;
  max-width: 128rem;
  padding: 0 1rem;
}

/* ----------------------- HEADER ------------------ */

.header-container {
  /**
   * Para practicar más con flexbox (flex), pueden utilizar la siguiente web:
   * https://flexboxfroggy.com/#es
   */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ----------------------- NAVIGATION ------------------ */

/**
 * De momento ocultamos estos elementos para dispositivos móviles, siguiendo los
 * principios de "Mobile First". Primero trabajamos la visualización en
 * dispositivos móviles y vamos añadiendo en dispositivos más grandes
 */
.navigation {
  display: none;
}

.menu-close {
  display: none;
}

/* ----------------------- FOOTER ------------------ */
.footer {
  background: #1a1a1a;
  color: #ffffff;
  height: 6rem;
}
